<div class="container">
  <div class="header">
  <h1 class="heading">Fibre Products</h1>
  <p>Select a Fibre infrastructure provider below, browse the products
    available and complete
    a coverage search</p>
    </div>
  </div>
  
  <div class="logos">
    <div *ngFor="let image of providerInfo" [class.filter-by-provider-image]="!providerFilter || (providerFilter.length > 0 && !providerFilter.includes(image.name))">
      <img [src]="image.url" (click)="filter(image.name, null, null)"/>
    </div>
  </div>

  <div class="container">
  
    <div class="grid">
  
      <div>
        <h2>Filter By:</h2>
  
        <mat-form-field appearance="basic">
          <mat-label>Price</mat-label>
          <mat-select multiple>
          <mat-option *ngFor="let price of priceRanges; let i = index" [value]="i" (click)="filter(null, price.min, price.max)"
          id="defaultCheck1">
          {{price.label}}</mat-option>
          </mat-select>
        </mat-form-field>
  
  
      </div>
  
      <div>
        <h2>Deal Type:</h2>
        <div class="deals">
          <div class="buttons" *ngFor="let campaign of campaigns; let i = index">
            <button [class.active]= "selectedCampaign.code.includes(campaign.code)"
              (click)="changeCampaign(campaign)">{{campaign.name}}</button>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <app-product-card [products]="filteredProductsArr"></app-product-card>
  
  </div>
  